body{
	--background: #fff;
	--fontcolor : black;
	--borders : 1px solid #ddd;
	--colorHover : #8d8d8d;

	--tabHeight : 11%;
	--editorHeight : 89%;

	--innerBorders : 1px solid #ddd;
}

/* SCROLLBAR*/
#main ::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	padding-top: 40px;
}

#main ::-webkit-scrollbar-track{
/*	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);*/
/*	border: 1px solid black;*/
	background: #e8e8e8;
	border-radius: 2px;
}

#main ::-webkit-scrollbar-thumb{
	border-radius:2px;
	height: 30px;
	width: 8px;
	border: 1px solid grey;
	background: rgb(111,111,111);
/*	-webkit-box-shadow: 0 1px 1px rgb(0,0,0);*/
	background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));

}

#main ::-webkit-scrollbar-track-piece {
	height: 30px;
	width: 30px;
}

/*MAIN*/
#main{
	width: 950px;
	height : 400px;

	border: var(--borders);
	background-color: var(--background);

	position: relative;
}

/*TOOLBOX*/

#toolBox{
	height: var(--tabHeight);
	width: 30%;

	display: inline-block;
	float: left;

	border-right : var(--innerBorders);
	border-bottom : var(--innerBorders);

	margin : 0;
	padding-left : 20px;
}

#toolBox .glyphicon{
	padding-right: 30px;
	/*margin-right: 30px;*/
}

span.glyphicon {
	font-size: 25px;
	padding: 10px;
	color: rgb(144, 144, 144);
}

span.glyphicon.glyphicon-plus {
	padding: 0px!important;
	margin-right: -18px;
	top: -10px;
	font-size: 8px;
	background-color: var(--background);
	z-index: 5;
	border: solid 2px;
}

.glyphicon::before{
	cursor: pointer;
}

/*toolBox Border*/

#tab{
	border-bottom : var(--innerBorders);
}

#bar{
	border-right : var(--innerBorders);
}

/*ONGLET*/

#tab{
	height: var(--tabHeight);
	width:70%;
	background-color: var(--background);
	margin: 0;
	background-color: #f9f9f9;
	overflow: auto;
}

#tabList{
	overflow: hidden;
	background-color: #f9f9f9;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a{
	color : var(--fontcolor);
}

button.close{
	position: relative;
	top: -1px;
	left: 5px;
}

/* EXPAND BUTTON*/

#expandDiv{
	position : absolute;
	z-index: 6;
	display: inline-block;
	float: right;

	top : 0px;
	right: 0px;

	/*transform: rotate(90deg);*/

}

/*ARBORESCENCE*/
#bar{
	height: var(--editorHeight);
	width: 30%;

	display: inline-block;

	position: relative;
	top: 0;

	background-color: var(--background);
	color: var(--fontcolor);

	overflow: auto;
	    padding-top: 20px;
    padding-left: 10px;
}

/*EDITEUR*/
#editor{
	width: 70%;
	height : var(--editorHeight);

	display: inline-block;

	float: right;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Bouton SAVE*//*
body {
	--saveHeight: 50px;
	--saveWidth: 100px;
	--botWidth: 53px;
}

#saveDiv{
	float: right;
	width: var(--saveWidth);
	height: var(--saveHeight);
	position: relative;
	bottom: var(--botWidth);
	z-index: 3;
}

#save{
	width: 100%;
	height: 100%;
	background-color: #1f18ff;
	color: white;
	border: 1px #646464 solid;
}*/



/* RIGHT CLICK MENU*/

#RightClickMenu{
    height: auto;
    width: auto;
    background-color: #f9f9f9;
    border-radius: 2px;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    border-top: 0px;
    z-index: 5;
}

#RightClickMenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#RightClickMenu li {
    border-top: 1px solid #ddd;
    width: 120px;
}

.rightClick{
	margin : 0 10px 0 0;
}

/* POPUP */

.fa{
	margin-left:10px;
}


#dialog[title="Add file"]{
	display:none;
}

/* EXPAND */

#ExpandMenu{
	height : auto;
	width : auto;
	background-color: #f9f9f9;
	border-radius: 2px;
	position: absolute;
	z-index:5;
	border:1px solid #ddd;
	border-top:0px;
}

#ExpandMenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#ExpandMenu li {
	border-top: 1px solid #ddd;
	padding: 5px;
}

.ExpandMenu{
	margin : 0 10px 0 0;
}

/* Test Yann */


li[data-type="file"]>a>i, li[data-type="dir"]>a>i{
	background-image: none!important;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	color:rgb(144, 144, 144)!important;
}

li[data-type="file"]>a>i:before {
    content: "\e022";
}

li[data-type="dir"]>a>i:before {
    content: "\e118";
}

#RightClickMenu span.glyphicon {
    font-size: 15px!important;
    padding: 10px!important;
    color: rgb(130, 130, 130)!important;
}
#RightClickMenu li{
    width: 150px;
	cursor: pointer;

}

.jstree-default .jstree-hovered{
    background: #f9f9f9!important;
}
