html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin:0;
}

img {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  //background-color: rgba(255,255,0,1);
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px;
    padding-bottom:0;
    height: 30px;
}
.navbar {min-height:30px;}
