html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin:0;
}

img {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
}

.loading-div {
    z-index:3;
    position:absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.navbar-nav > li > a {
    padding-top:5px;
    padding-bottom:0;
    height: 30px;
}
.navbar {min-height:30px;}
