<dl class="dl-horizontal col-md-6" style="margin-bottom:0px;">
    <dt class="description-terms-align-left">Access Scope:</dt>
    <dd class="editableDescriptionField">_db_access_</dd>
    <dt class="description-terms-align-left">Owner:</dt>
    <dd class="editableDescriptionField">_db_owner_</dd>
    <dt class="description-terms-align-left">Your Grant Level:</dt>
    <dd class="editableDescriptionField">_db_grant_</dd>
    <dt class="description-terms-align-left">Collaborators:</dt>
    <dd class="editableDescriptionField">
        <table class="table-sm">
            <tr>
                <td class="block" style="white-space:nowrap;">
                    <label>Read &nbsp;&nbsp;</label>
                    <select id="datas_metadata_readers"><option>None</option>
            <tr>
                <td class="block" style="white-space:nowrap;">
                    <label>Write &nbsp;&nbsp;</label>
                    <select id="datas_metadata_writers"><option>None</option>
        </table>
        <a class="btn btn-primary btn-xs" style="border-radius: 50%;" data-toggle="modal" data-target="#database_adding_collaborator_modal" onclick="adding_collaborators_modal_update('database');">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </dd>
</dl>
