<dl class="dl-horizontal col-md-6">
    <dt class="description-terms-align-left">Owner</dt>
    <dd class="editableDescriptionField">_df_owner_</dd>
    <dt class="description-terms-align-left">Creation Date</dt>
    <dd class="editableDescriptionField">_df_date_</dd>
    <dt class="description-terms-align-left">Grant level</dt>
    <dd class="editableDescriptionField">_df_grant_</dd>
    <dt class="description-terms-align-left">Topic</dt>
    <dd class="editableDescriptionField">_df_topic_</dd>
    <dt class="description-terms-align-left">Licence</dt>
    <dd class="editableDescriptionField">_df_licence_</dd>
</dl>
