<dl class="dl-horizontal col-md-6" style="margin-bottom:0px;">
    <dt class="description-terms-align-left">Owner:</dt>
    <dd class="editableDescriptionField">_db_owner_</dd>
    <dt class="description-terms-align-left">Your Grant Level:</dt>
    <dd class="editableDescriptionField">_db_grant_</dd>
    <dt class="description-terms-align-left">Collaborators:</dt>
    <dd class="editableDescriptionField">
        _db_collaborators_
        <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#database_adding_collaborator_modal" onclick="adding_collaborators_modal_update('database');">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </dd>
</dl>
