<dl class="dl-horizontal col-md-6" style="margin-bottom:0px;">
    <dt class="description-terms-align-left">Access Scope:</dt>
    <dd class="editableDescriptionField">_db_access_</dd>
    <dt class="description-terms-align-left">Owner:</dt>
    <dd class="editableDescriptionField">_db_owner_</dd>
    <dt class="description-terms-align-left">Your Grant Level:</dt>
    <dd class="editableDescriptionField">_db_grant_</dd>
    <dt class="description-terms-align-left">Collaborators:</dt>
    <dd class="editableDescriptionField">
        <table class="table">
            <tr>
                <td class="block" style="white-space:nowrap;">
                    <label>Readers &nbsp;&nbsp;</label>
                <td style="white-space:nowrap;">
                    <select class="selectpicker" id="datas_metadata_readers" data-style="btn-info">
                        <option>No One</option>
                    </select>
                    &nbsp;&nbsp;
                <td>
                    <a class="btn btn-primary btn-xs" style="border-radius: 50%;" id="datas_metadata_adding_readers_button" onclick="adding_collaborators_modal_update('database', 'read');">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
            <tr>
                <td class="block" style="white-space:nowrap;">
                    <label>Writers &nbsp;&nbsp;</label>
                <td style="white-space:nowrap;">
                    <select class="selectpicker" id="datas_metadata_writers" data-style="btn-info">
                        <option>No One</option>
                    </select>
                    &nbsp;&nbsp;
                <td>
                    <a class="btn btn-primary btn-xs" style="border-radius: 50%;" id="datas_metadata_adding_writers_button" onclick="adding_collaborators_modal_update('database', 'write');">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
        </table>

    </dd>
</dl>
