<dl class="dl-horizontal col-md-6" style="margin-bottom:0px;">
    <dt style="vertical-align: middle; margin-top: 5px;">Access Scope:</dt>
    <dd style="vertical-align: middle;">
        <select id='web_interface_access_scope_select' class="selectpicker">
            <option value='public'>public</option>
            <option value='restricted'>restricted</option>
            <option value='private'>private</option>
        </select>
    </dd>
    <dt>Owner:</dt>
    <dd>_db_owner_</dd>
    <dt>Your Grant Level:</dt>
    <dd>_db_grant_</dd>
</dl>
