 body {
    overflow: hidden;
}      

#map {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;   
    width: 100%;
}

div#size {
    font-size: 13px;
    height: 20px;
    position: absolute;
	left: 5%;
	top: 1em;
	background: white;
	color: black;
	padding: 0.4em;
	border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.2);
	z-index: 500;
}

#research {
    position: absolute;
    top: 80px;
    left: 0%;
    width: 25%;
    height: auto;
    max-height: 80%;
    /* z-index of the leaflet pannes <= 700
    */
    z-index: 701;
    padding-top: 24px;
    visibility: hidden;
     background-color:#e6f7ff; 
}

.hideResearch {
    position: fixed;
    top: 80px;
    left: 25%;
    z-index: 701;
}

.edition-title {
    color: red;
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 702;
    visibility: hidden;
    font-size: 24px;
    /* color: #0066ff; */
}

#management {
    position: absolute;
    top: 80px;
    right: 0%; 
    z-index: 701;
    width: 30%;
    height: auto;
    padding-top: 24px;
    visibility: hidden;
}

