 body {
    overflow: hidden;
}      

#map {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;   
    width: 100%;
}

div#size {
    font-size: 13px;
    height: 20px;
    position: absolute;
	left: 5%;
	top: 1em;
	background: white;
	color: black;
	padding: 0.4em;
	border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.2);
	z-index: 500;
}

#research {
    position: absolute;
    top: 80px;
    left: 0%;
    width: 25%;
    height: auto;
    max-height: 80%;
    /* z-index of the leaflet pannes <= 700
    */
    z-index: 701;
    padding-top: 24px;
    visibility: hidden;
     background-color:#e6f7ff; 
}

.hideResearch {
    position: fixed;
    top: 80px;
    left: 25%;
    z-index: 701;
}

.edition-title {
    color: red;
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 702;
    visibility: hidden;
    font-size: 24px;
    /* color: #0066ff; */
}

#management {
    position: absolute;
    top: 10%;
    right: 0%; 
    z-index: 701;
    width: 33%;
    height: auto;
    max-height: 85%;
    padding-top: 24px;
    visibility: hidden;
}
.hideManagement{
    position: absolute;
    top: 10%;
    right: 33%;
    z-index: 800;
}

.searchBar {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 392px;
    height: auto;
    z-index: 801;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
}

.searchBar input{
    height: 24px;
    width: 320px;
    border: none;
}

.suggest::before{
    position: absolute;
    left: 0;
    top: -1px;
    width: 64px;
    height: 1px;
    background-color: #fff;
}

.suggest {
    position: relative;
    color: #8C8C8C;
    font-size: 12px;
    min-height: 24px; 
    padding-top: 14px;
    /* padding-bottom: 7px; */
    padding-left: 12px;
    padding-right: 8px;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
    direction: ltr;
    text-align: left;
    height: 32px;
    display: block;
    /* display: list-item; */
}

.suggest:hover, .suggest:hover::before{
    background-color: rgba(0, 0, 0, .06);
    outline: none;
}

.suggest-text {
    -webkit-flex: 1;
    -ms-flex: 1;
    height: 20px;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
}

.search-box {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 392px;
    height: 44px;
    border-bottom: 1px solid transparent;
    padding: 10px 104px 9px 12px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
}

.suggestions {
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 15px;
    overflow: hidden;
    width: 392px;
}

.infobox {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
    color: #777;
}