
    /* background-color: white;
    width: 16px;
    height: 32px;
    font-size: 16px;
    padding-top: 14px;
    padding-left: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; */


/* end .slideThree */
/* .roundedOne */
.roundedOne {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 18px 12px 0px ;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  float: left;
}
.roundedOne label {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 3px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;

}
.roundedOne label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  opacity: 0;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label:hover::after {
  opacity: 0.7;
}
.roundedOne input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}


/* end .roundedOne */

.row-box {
	height: auto;
	width: 35%;
	position: relative;
	float: left;
	margin-left: 8%;
}

.row-box p{
    position: absolute;
    left: 40%;
    top: 8px;
}

.mapLayersSelector{
	left: 5%;
}

.icon {
    width: 28px;
    height: 28px;
    position: relative;
    border-radius: 50px;
    float: left;
    margin: 8px 0px 0px 12px;
}

.icon i {
    font-size: 22px;
    width: 22px;
    height: 22px;
    position: absolute;
    margin: 3px auto auto 5px;
    color:#e9e6e4;
}

/* .checked {
     box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);  
    border-radius: 50%;
} */

.checked i{
    color: black;
}

.unchecked i{
    color: gray;
}

.unchecked i:hover{
    color: black;
}

.enabled {
    border: solid 1px black;        
}

.enabled:hover{
    /* border-radius: 50%; */
    /* box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0, 0, 0, 0.5);  */
    /* background-image: -webkit-linear-gradient(top, #f4f1c0, #fff);
    background-image: linear-gradient(top, #f4f1c0, #fff);  */
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .8), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5); 
}
.enabled i:hover{
    font-size: 25px;
}


.row-researches-panel {
    position: relative;
    float: left;
    width: 90%;
    left: 5%;
    background-color: #e6f7ff;
    margin-bottom: 5px; 
    border-width: 2px;
}

.row-researches-panel p {
    position: relative;
    float: left;
    font-size: 15px;
    /* width: 15px; */
    /* height: auto; */
}

.researchIcon {
    position: relative;
    float: left;
    top: 4px;
    left: -6px;
}

.researchIcon i{
    font-size: 16px;
    color: black;    
}

.iconsBarre {
    min-width: 53%;
    float: right;
}

input[type="text"]{
    font-size: 15px;
    font-family: 'Time New Roman';
}

.text-box {
    margin-top: 15px;
    width: 80%;
    left: 5%;
    float: left;
    margin-bottom: 15px;
    position: relative;
}

.text-box input{
    width: 80%;
    height: 22px;
    float: left;
}

.text-box div{
    position: relative;
    right: 4px;
    bottom: 6px;
}

.row-roi {
    padding-bottom: 5px;
    position: relative;
    left: 12%;
    width: 82%;
    float: left;
    margin-bottom: 5px;
}

.row-roi p{
    position: relative;
    font-size: 13px;
    float: left;
    top: 2px;
}


/* .small-icon {
    width: 24px;
    height: 24px;
}
.small-icon i {
    font-size: 20px;
    width: 20px;
} */
