
.message{
    font-size: 12px;
    position: relative;
    float: left;
    clear: both;
    left: 2%;
    top: 3px;
}

.text-basic{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.text-border{
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.loading {
    Color: Green;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



