.nice-box {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	
}
	
.message{
    font-size: 12px;
    position: relative;
    display: block;
    width: 95%;
    clear: both;
    left: 2%;
    top: 3px;
    margin-bottom: 2px;
}


.text-basic{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.text-border{
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.loading {
    Color: Green;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



