/*Code started by Michael Ortega for the LIG*/
/*October 10th, 2016*/

body {
    margin-left: 0px;
    margin-top: 0px;
}


.panel-group .panel + .panel .panel-default{
    margin-top: 0;
}

.sakura_main {
    height: 800px;
    width: 100%;
    position:relative;          /*Critical !! for containing operators*/
    #border-top: 1px solid grey;
    #border-bottom: 1px solid grey;
    #border-right: 1px solid grey;
    overflow:auto;
}

.sakura_menu {
    height: 42px;
    background-color:grey;
}


.sakura_left_tab {
    width: 200px;
    height:800px;
    overflow-y: auto;
    padding:0px;
    margin:0px;
    #border-top: 1px solid grey;
    #border-bottom: 1px solid grey;
    #border-left: 1px solid grey;
}


.sakura_static_operator {
    z-index:1;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}


.sakura_dynamic_operator {
    position:absolute;
    z-index:1;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}


#sakura_operator_contextMenu {
  position: absolute;
  display:none;
}


#sakura_link_contextMenu {
  position: absolute;
  display:none;
}

.sakura_comment {
    position: absolute;
    overflow: auto;
    resize: both;
    z-index: 4;
}

.full_width{
    width: 100%;
 }


 .sakura_endPoint {
    z-index: 3;
 }

 /* Loading icon */
 .glyphicon-refresh-animate {
     -animation: spin .7s infinite linear;
     -ms-animation: spin .7s infinite linear;
     -webkit-animation: spinw .7s infinite linear;
     -moz-animation: spinm .7s infinite linear;
 }

 @keyframes spin {
     from { transform: scale(1) rotate(0deg);}
     to { transform: scale(1) rotate(360deg);}
 }

 @-webkit-keyframes spinw {
     from { -webkit-transform: rotate(0deg);}
     to { -webkit-transform: rotate(360deg);}
 }

 @-moz-keyframes spinm {
     from { -moz-transform: rotate(0deg);}
     to { -moz-transform: rotate(360deg);}
 }
