/*
 * LIG March 2017
*/

.label-primary {
  background-color:blue;
  color:white;}

input.search-query {
    padding-left:26px;
	border-radius: 15px;
	width: 90%;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(/webcache/cdnjs/twitter-bootstrap/2.3.2/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.editableDescriptionField > span > a {
    visibility: hidden;
}

.editableDescriptionField:hover > span > a {
    visibility: visible;
}

/*Logo Animation*/

.basic_head_table {
    margin: 5px;
    display: block;
    height: 100px;
}

.big_head_table {
    margin: 5px;
    display: block;
    height: 100px;
    animation-name: head_table_anim_go;
    animation-duration: .5s;
}

.small_head_table {
    margin: 5px;
    display: block;
    height: 0px;
    animation-name: head_table_anim_back;
    animation-duration: .5s;
}

@keyframes head_table_anim_go {
    from  { height: 0px;  }
    to    { height: 100px;   }
}

@keyframes head_table_anim_back {
    from  { height: 100px;  }
    to    { height: 0px;   }
}

.logos_and_titles{
    padding: 0px;
    margin: 0px;
    white-space:nowrap;
}

.basic_logo_cell {
    vertical-align: top;
    width: 100px;
    height: 100px;
}

.big_logo_cell{
    vertical-align: top;
    width: 100px;
    height: 100px;
    animation-name: logo_cell_anim_go;
    animation-duration: .5s;
}

.small_logo_cell{
    vertical-align: top;
    width: 0px;
    height: 0px;
    animation-name: logo_cell_anim_back;
    animation-duration: .5s;
}

@keyframes logo_cell_anim_go {
    from  {   width: 0px;  height: 0px; }
    to    {   width: 100px; height: 100px; }
}

@keyframes logo_cell_anim_back {
    from  {   width: 100px; height: 100px;  }
    to    {   width: 0px;  height: 0px;  }
}

.basic_logo {
    width: 100px;
    height: 100px;
}

.big_logo {
    width: 100px;
    height: 100px;
    animation-name: logo_anim_go;
    animation-duration: .5s;
}

.small_logo {
    width: 0px;
    height: 0px;
    animation-name: logo_anim_back;
    animation-duration: .5s;
}

@keyframes logo_anim_go {
    from  {  width: 0px;  height: 0px;   }
    to    {  width: 100px; height: 100px;  }
}

@keyframes logo_anim_back {
        from  {  width: 100px;  height: 100px;  }
        to    {  width: 0px;   height: 0px;   }
}

.basic_title_cell {
    width: 350px;
}

.big_title_cell {
    width: 350px;
    animation-name: title_cell_anim_go;
    animation-duration: .5s;
}

.small_title_cell {
    width: 1px;
    animation-name: title_cell_anim_back;
    animation-duration: .5s;
}

@keyframes title_cell_anim_go {
    from  {   width: 1px   }
    to    {   width: 350px; }
}

@keyframes title_cell_anim_back {
    from  {   width: 350px  }
    to    {   width: 1px;  }
}

.basic_desc_cell {
    vertical-align: bottom;
    display: visible;
}

.big_desc_cell {
    vertical-align: bottom;
    display: visible;
}

.small_desc_cell {
    vertical-align: bottom;
    display: none;
}

/* Loading icon */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

div.bootstrap-switch-container {
    height: 10px;
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 33.33333%;
    float: left;
}

.dataset_accordion_panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s linear;
}

.dataset_accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
