/*Code started by Michael Ortega for the LIG*/
/*September 19th, 2017*/

body{
    overflow: auto;
}

.modal{
   overflow: auto;
}

.abs-modal.in{
    position: absolute;
}

.bordered_td {
    border-width: 2px;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-color: white;
}

/* Loading icon */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
