/*Code started by Michael Ortega for the LIG*/
/*October 10th, 2016*/

body {
    margin-left: 0px;
    margin-top: 0px;
}


.ptda_main {
    height: 550px;
    width: 100%;
    position:relative;          /*Critical !! for containing operators*/
    border: 1px solid grey;
}


.ptda_menu_tab {
    height: 22px;
    background-color:lightgrey;
}


.ptda_operators_tab {
    height: 548px;
    width: 163px;
    background-color:lightblue;
    overflow-y:scroll;
}


.ptda_operator {
    width: 34px;
    height: 34px;
    position:absolute;
    z-index:1;
    cursor: default;
    vertical-align: middle;
    text-align: center;
}


#ptda_operator_contextMenu {
  position: absolute;
  display:none;
}
